/**
 * Editor styles for the Post Slider block
 */

.wp-block-nasio-block-post-slider {
    .nasio-post-slider-preview {
        .nasio-slider-editor-title {
            background: #f0f0f0;
            font-size: .875rem;
            font-weight: 600;
            padding: 8px 12px;
            border-radius: 2px;
            text-align: center;
            border: 1px solid #ddd;
        }
    }

    &.is-display-mode-carousel {
        @media(min-width:80rem){
			&:not(.alignfull){
				--swiper-navigation-sides-offset: .5rem;
			}
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        padding: .75em;
    }
}