/**
 * Frontend and editor styles for the Gallery Slider block
 */

.wp-block-nasio-block-gallery-slider {
    position: relative;
    margin-bottom: 1.5em;
    
    // Set CSS variables for use throughout the component
    --swiper-theme-color: var(--arrow-color, #444);
    --swiper-pagination-color: var(--pagination-active-color, #444);
    --swiper-pagination-inactive-color: var(--pagination-inactive-color, #ccc);
    --swiper-navigation-size: 1.5rem;
    --swiper-pagination-bottom: 1rem;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: .5rem;
    --swiper-pagination-bullet-size: .75rem;
    
    .nasio-gallery-slider {
        position: static;
        width: 100%;
        overflow: hidden;
        padding-bottom: 6rem;
    }
    
    .swiper-wrapper {
        display: flex;
        align-items: stretch;
        transition-property: transform;
    }
    
    .swiper-slide {
        flex-shrink: 0;
        height: auto;
        position: relative;
        transition-property: transform;
        display: flex;
        flex-direction: column;
    }
    
    .gallery-slider-figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
    }
    
    .gallery-slider-image {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        border-radius: .5rem;
        display: block;
    }
    
    .gallery-slider-caption {
        padding: .75rem;
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
        margin-top: auto;
        border-radius: 0 0 4px 4px;
    }
    
    // Swiper Navigation styling
    .swiper-button-prev,
    .swiper-button-next {
        box-sizing: border-box;
        width: var(--swiper-navigation-size);
        height: var(--swiper-navigation-size);
        background-color: var(--arrow-bg-color);
        padding: 1.5rem;
        border-radius: 50%;

        &:focus {
			outline: none;
		}
        
        &.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
        }
        
		&:hover {
			opacity: 0.85;
		}
    }
    
    // Swiper Pagination styling
    .swiper-pagination {
        width: 100%;
        
        .swiper-pagination-bullet {
            background: var(--swiper-pagination-inactive-color);
            opacity: 0.7;
            margin: 0 4px;
            
            &-active {
                opacity: 1;
                background: var(--swiper-pagination-color);
            }
        }
        
        &-clickable .swiper-pagination-bullet {
            cursor: pointer;
        }
    }
    
    @media screen and (min-width: 80rem) {
        --swiper-navigation-sides-offset: var(--swiper-navigation-sides-dynamic-offset);
    }
    
    @media screen and (max-width: 768px) {
        .nasio-gallery-slider {
            padding-bottom: 3rem;
        }
        
        .swiper-button-prev,
        .swiper-button-next {
            transform: scale(0.8);
        }
    }
}
