/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
// Content Slider Block Styles
.wp-block-nasio-block-content-slider {
	margin: 2em 0;
	box-sizing: border-box;
	position: relative;

	--swiper-theme-color: #333;
	--swiper-navigation-size: 1.5rem;
	--swiper-navigation-top-offset: 44%;
	--swiper-pagination-bullet-size: .75rem;

	// Common styles for both carousel and fullwidth modes
	.nasio-content-slider {
		position: static;
		padding-bottom: 4rem; // Space for pagination
		display: block;
		width: 100%;
	}
	
	.swiper-wrapper {
		display: flex;
		width: 100%;
		height: auto;
		flex-wrap: nowrap;
	}
	
	.swiper-slide {
		height: auto;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
	}

	// Carousel mode styles
	&.is-display-mode-carousel {
		.swiper-slide {
			width: 100%;
			border-radius: 8px;
		}
	}

	// Slide styles
	.nasio-slide {
		width: 100%;
		height: auto;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		box-sizing: border-box;
		
		&-inner {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
			min-height: 100px;
			box-sizing: border-box;
		}
	}

    .swiper-button-prev,
    .swiper-button-next {
		box-sizing: border-box;
        width: var(--swiper-navigation-size);
        height: var(--swiper-navigation-size);
		background-color: rgba(255, 255, 255, 0.75);
        padding: 1.5rem;
        border-radius: 50%;

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.95);
		}
        
        &.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
        }
    }

    .swiper-pagination {
        width: 100%;
        
        .swiper-pagination-bullet {
            background: #ccc;
            opacity: 0.7;
            margin: 0 4px;
            
            &-active {
                opacity: 1;
                background: var(--swiper-theme-color);
            }
        }
        
        &-clickable .swiper-pagination-bullet {
            cursor: pointer;
        }
    }
    
    @media screen and (min-width: 80rem) {
        --swiper-navigation-sides-offset: var(--swiper-navigation-sides-dynamic-offset);
    }
}
