.wp-block-nasio-block-icon {
	
	a {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
	}
	
	.nasio-icon-wrapper {
		display: flex;
		justify-content: center;
		background-color: var(--background-color, transparent);
		border-radius: var(--border-radius, 0);
		width: 100%;
		svg {
			width: var(--icon-size, 24px);
			height: var(--icon-size, 24px);
			fill: var(--text-color, currentColor);
		}
	}
	
	.nasio-icon-wrapper.is-justified-left {
		justify-content: flex-start;
	}
	.nasio-icon-wrapper.is-justified-center {
		justify-content: center;
	}
	.nasio-icon-wrapper.is-justified-right {
		justify-content: flex-end;
	}
	.nasio-icon-wrapper.is-justified-space-between {
		justify-content: space-between;
	}
}
