/**
 * Admin styles for Nasio Blocks
 */

.nasio-blocks-admin-notice {
	background: linear-gradient(135deg, #5d95f1 0%, #094aca 100%);
	border-left: 0;
	padding: 1.5rem !important;
	position: relative;
}

.nasio-blocks-admin-notice .notice-dismiss {
	color: #fff;
	opacity: .85;
}

.nasio-blocks-admin-notice .notice-dismiss:hover {
	opacity: 1;
}

.nasio-blocks-admin-notice .notice-dismiss:before {
	color: #fff;
}

.nasio-blocks-admin-notice-content {
	color: #fff;
}

.nasio-blocks-admin-heading {
	margin: 0 !important;
	font-size: 1.5em;
	color: #fff;
}

.nasio-blocks-admin-offer {
	margin: 0 0 15px 0;
	font-size: 1.2em;
	font-weight: 500;
}

.nasio-blocks-admin-discount {
	color: #facc15;
	font-weight: 700;
	font-size: 1.5em;
}

.nasio-blocks-admin-description {
	padding: 1rem 0 !important;
	font-size: 1em;
	line-height: 1.6;
}

.nasio-blocks-admin-coupon {
	margin: 0 0 20px 0;
	font-size: 1.1em;
	line-height: 1.7;
}

.nasio-blocks-admin-coupon strong {
	color: #facc15;
	font-size: 1.2em;
	letter-spacing: 0.05em;
}

.nasio-blocks-admin-buttons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.nasio-blocks-admin-buttons .button {
	display: flex !important;
	min-height: unset;
	line-height: 2rem;
}

.nasio-blocks-admin-notice .button {
	padding: 0 1rem !important;
}

.button.nasio-blocks-admin-btn-primary {
	font-weight: 600;
	margin-right: 10px;
}

.nasio-blocks-admin-btn-primary {
	background: #fff !important;
	border-color: #fff !important;
	color: #000 !important;
}

.button.nasio-blocks-admin-btn-secondary {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.nasio-blocks-admin-btn-secondary {
	background: rgba(255, 255, 255, 0.2) !important;
	color: #fff !important;
	border-color: rgba(255, 255, 255, 0.5) !important;
}

@media (max-width: 782px) {
	.nasio-blocks-admin-notice {
		padding: 20px 25px;
	}
	
	.nasio-blocks-admin-buttons {
		flex-direction: column;
	}
	
	.nasio-blocks-admin-buttons .button {
		margin-right: 0 !important;
		text-align: center;
	}
}
